.stApp, h2, h3, button {
  background-color: #000000;
  color: #ffffff;
}
.css-17eq0hr {
  background-color: #3d3834;
}
.container {
    width: 80%; /* La largeur de la zone de contenu est de 80% de la largeur de son conteneur parent */
  }
  
  .item {
    width: 50%; /* Chaque élément occupe 50% de la largeur de son conteneur parent */
  }

p {
  font-size: 16px; /* Taille de police de base */
  line-height: 1.5; /* Hauteur de ligne de base */
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 14px; /* Réduire la taille de la police pour les écrans plus petits */
  }

  img, svg {
    margin-left: 15vh;
    margin-right: 15vh;
  }
  body{
    text-align: center;
  }
}  

.st-emotion-cache-z5fcl4{
    padding: 0rem 1.5rem 10rem;
    z-index: 1;
}

.st-emotion-cache-97ja1j, .st-emotion-cache-1avcm0n{
    z-index: -1;
}
.st-emotion-cache-k7vsyb a, .st-emotion-cache-1ykxg5d, .st-emotion-cache-e370rw{
    visibility: hidden;
}

.st-emotion-cache-10trblm{
    text-align: center;
}
img, svg {
    max-width: 100%; /* L'image ne peut pas dépasser la largeur de son conteneur parent */
    height: auto;
    vertical-align: middle;
    border-radius: 30px 10px 70px 10px;

}
.st-emotion-cache-1yiq2ps {
  top: -20vh;
}

